<div class="container-fluid">

   <%= image_tag ('frontairbnb.jpg'), class: "frontimg" %>


<div class="row">

     <div class ="col-xs-6 col-sm-6 col-md-6 col-lg-6">    
      <center><%= link_to 'Become a Host', new_room_path, class: "btn btn-primary" %><center>
      </div>

     <div class = "col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <center><%= link_to 'View Available Rooms', rooms_path, class: "btn btn-primary" %><center>
     </div>

  </div>
  </div>

